.about_banner {
  background: url(../img/concatImg.jpg) center no-repeat;
  background-size: cover;
}
.contact_container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}
.contact_container .contact_title {
  width: 100%;
  height: 80px;
  padding: 40px 0 20px 0;
}
.contact_container .contact_title p {
  position: relative;
  font-size: 38px;
  font-weight: 600;
  line-height: 2;
}
.contact_container .contact_title p::after {
  content: "";
  display: block;
  position: absolute;
  width: 60px;
  border: 3px solid #f45d52;
  background: #f45d52;
}
.contact_container .contact_list {
  width: 100%;
  padding: 40px 0 40px 0;
}
.contact_container .contact_list .contact_dl {
  font-size: 20px;
}
.contact_container .contact_list .contact_dl dt {
  padding: 10px 0 10px 60px;
  display: inline-block;
  vertical-align: top;
  height: 30px;
  width: 20%;
}
.contact_container .contact_list .contact_dl dd {
  padding: 10px 0 10px 0;
  height: 30px;
  width: 75%;
  display: inline-block;
  vertical-align: top;
}
.contact_container .contact_list .contact_dl dt::after {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
}
.contact_container .contact_list .contact_dl .dt1 {
  background: url(../img/conctjinglingtu.png) no-repeat 0px -10px;
  background-size: 40px;
}
.contact_container .contact_list .contact_dl .dt2 {
  background: url(../img/conctjinglingtu.png) no-repeat 0px -70px;
  background-size: 40px;
}
.contact_container .contact_list .contact_dl .dt3 {
  background: url(../img/conctjinglingtu.png) no-repeat 0px -130px;
  background-size: 40px;
}
.contact_container .contact_list .contact_dl .dt4 {
  background: url(../img/conctjinglingtu.png) no-repeat 0px -190px;
  background-size: 40px;
}
.contact_container .contact_list .contact_dl .dt5 {
  background: url(../img/conctjinglingtu.png) no-repeat 0px -250px;
  background-size: 40px;
}
.contact_container .contact_list .contact_dl .dt6 {
  background: url(../img/conctjinglingtu.png) no-repeat 0px -370px;
  background-size: 40px;
}
.contact_container .contact_list .contact_dl .dt7 {
  background: url(../img/conctjinglingtu.png) no-repeat 0px -430px;
  background-size: 40px;
}
.contact_container .contact_list .contact_dl .dt8 {
  background: url(../img/conctjinglingtu.png) no-repeat 0px -490px;
  background-size: 40px;
}
