html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background: url(../img/findPassword.png) center no-repeat;
  background-size: cover;
}
.password_main {
  width: 60%;
  margin: 0 auto;
  padding-top: 10%;
}
.password_main .password_form {
  width: 90%;
  margin: 0 auto;
  padding: 40px;
  overflow: hidden;
  box-sizing: border-box;
  background: white;
  box-shadow: 12px 12px 0 0 rgba(0, 0, 0, 0.3);
}
.password_main .password_form .password_h1 {
  font-weight: 600;
  text-align: center;
  padding-bottom: 30px;
}
.password_main .password_form .password_info {
  opacity: 0;
  padding-left: 3px;
  margin-left: 18%;
  width: 82%;
  height: 24px;
  line-height: 24px;
  box-sizing: border-box;
}
.password_main .password_form .password_Pin {
  position: relative;
}
.password_main .password_form .password_Pin .logon_sendPin {
  position: absolute;
  background: white;
  color: #7ab6b6;
  border: none;
  right: 5%;
  top: 8px;
}
.password_main .password_form .password_Pin .logon_sendPin:hover {
  color: #52a0a0;
}
.password_main .password_form .password_submit {
  text-align: center;
}
.password_main .password_form .password_submit button {
  outline: none;
  margin-right: 10%;
}
