.about_banner {
  background: url(../img/mapImg.jpg) center no-repeat;
  background-size: cover;
}
.map_title {
  width: 80%;
  height: 80px;
  margin: 0 auto;
  padding-top: 40px;
}
.map_title p {
  position: relative;
  font-size: 32px;
  font-weight: 600;
  line-height: 2;
}
.map_title p::after {
  content: "";
  display: block;
  position: absolute;
  width: 60px;
  border: 3px solid #f45d52;
  background: #f45d52;
}
.map_lis1 {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
  color: #666;
  overflow: hidden;
}
.map_lis1 h3 {
  font-size: 23px;
  font-weight: 400;
  margin-bottom: 20px;
}
.map_lis1 ul li {
  height: 30px;
  line-height: 50px;
  font-size: 15px;
  float: left;
  margin-right: 15px;
}
